.card {
  width: 50%;
  margin: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 18px;
}

input,
.input-group-prepend,
select,
textarea {
  margin-top: 5px;
}

select {
  margin-bottom: 5px;
}

.button {
  text-align: end;
}
